.SidebarContainer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.SidebarOption {        
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 40px;
    color: grey;
    transition: 200ms color ease-in;
}
  
.SidebarOption:hover {
    color: white;
}
  
.Sidebar > hr {
    border: 1px solid #282828;
}
  
.SidebarOptionIcon {
    padding-right: 10px;
}
  
.SidebarOption > p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}

.Sidebar {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;
    color: white;
    background-color: #040404;
    padding: 20px;
}
  
.Title {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}
  
.Logo {
    margin-right: auto;
    object-fit: contain;
    height: 70px;
}
  