.BackdropContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginContainer {
  width: 40vw;
  height: 80vh;
}

.login {
    display: grid;
    background-color: black;
    height: 100%;
    place-items: center;
    position: relative;
    border-radius: 16px;
    padding: 20px;
}
  
  .login > img {
    width: 100%;
  }
  
  .login > a {
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 99px;
    font-weight: 800;
    background-color: #1db954;
  }
  